.metricsDiv {
  display: flex;
  min-width: 300px;
  width: 50%;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 0px;
  margin: 0px;
}

.metricEle {
  width: 45%;
  min-width: 120px;
  box-sizing: border-box;
  height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: var(--primary-black);
  padding-top: 8px;
  padding-left: 8px;
}

.color1 {
  background: var(--color1);
}

.color2,
.color3 {
  background: var(--hover-bg);
}

.color4 {
  background: var(--color4);
}

.metricLabel {
  font-weight: 500;
  font-size: var(--font-regular);
  margin: 0;
}

.metricValueRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  line-height: 18px;
}

.metricValueRow:hover {
  flex-direction: row-reverse;
}

.metricValue {
  font-size: 24px;
  font-weight: 600;
}

.metricChange,
.metricChange svg {
  font-size: var(--font-small) !important;
}

.monthWise {
  width: 40%;
  gap: 0.5rem;
  background: var(--hover-bg);
  padding: 1rem;
  border-radius: 1rem;
}

.title {
  font-size: var(--font-small);
  font-weight: 600;
  color: var(--text-primary);
}

.barChart {
  width: 100%;
  height: 200px;
}

.revenueWrapper {
  background: var(--background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 65%;
  background: var(--hover-bg);
  border-radius: 1rem;
  padding: 1rem;
}

.revenueHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.revenueTitle {
  font-size: var(--font-regular);
  font-weight: 600;
  color: var(--primary-black);
  margin: 0;
}

.revenueDivider {
  color: var(--text-light);
  margin: 0.25rem 0;
}

.revenueLegendGroup {
  display: flex;

  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.revenueLegendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.revenueLegendDot {
  width: 6px;
  height: 6px;
  border-radius: 0.25rem;
}

.currentDot {
  background: var(--primary-black);
}

.previousDot {
  background: var(--color4);
}

.revenueLegendText {
  font-size: var(--font-small);
  font-weight: 400;
  color: var(--primary-black);
}

.revenueLegendValue {
  font-size: var(--font-small);
  font-weight: 600;
  color: var(--primary-black);
}

.dark .revenueWrapper {
  background: rgba(28, 28, 28, 1);
}

.dark .revenueTitle,
.dark .revenueLegendText,
.dark .revenueLegendValue {
  color: var(--primary-black);
}

.dark .revenueDivider {
  color: var(--text-light);
}

.dark .currentDot {
  background: #c6c7f8;
}

.dark .previousDot {
  background: var(--color4);
}

.locationMapWrapper {
  width: 20%;
  padding: 12px;
  background: var(--hover-bg);
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.locationMapTitle {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.locationMapContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.locationMapTooltip {
  position: absolute;
  background: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 10px;
  pointer-events: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
}

.locationMapBars {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.locationMapBarWrapper {
}

.locationMapBarLabel {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.locationMapBarBackground {
  width: 100%;
  background: #e5ecf6;
  height: 4px;
  border-radius: 2px;
  margin-top: 2px;
}

.locationMapBarForeground {
  background: #a8c5da;
  height: 4px;
  border-radius: 2px;
  transition: width 0.8s ease-in-out;
}

.locationMapContainer {
  width: 95%;
  min-width: 200px;
  aspect-ratio: 16 / 9;
}

.locationMapTooltip {
  position: absolute;
  pointer-events: none;
  background: var(--background);
  border: 1px solid var(--border-light);
  border-radius: 6px;
  padding: 4px 8px;
  font-size: var(--font-small);
  color: var(--primary-black);
  opacity: 0;
  transition: opacity 0.2s;
}

.productsTable {
  min-width: 400px;
  width: 60%;
  background: var(--hover-bg);
  padding: 12px;
}

.table {
  min-width: 400px;
  width: 100%;
}

.container {
  border-radius: 16px;
  padding: 20px;
  background: var(--hover-bg);
  color: var(--primary-black);
  height: 100%;
  width: 20%;
  animation: fade-in 0.3s ease-in-out;
}

.title {
  font-size: var(--font-small);
  font-weight: 600;
}

.chartWrapper {
  /* margin-top: 0.5rem; */
}

.chart {
  width: 100%;
  /* height: 120px; */
}

.pie {
  stroke: var(--background);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
}

.item:last-child {
  border-bottom: none;
}

.itemLeft {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dot {
  font-size: 14px;
}

.dot1 {
  color: var(--color1);
}
.dot2 {
  color: var(--color4);
}

.itemName {
  font-size: var(--font-small);
  font-weight: 400;
  color: var(--primary-black);
}

.itemPrice {
  font-size: var(--font-small);
  font-weight: 400;
  color: var(--primary-black);
}

.tooltipWrapper {
  background: var(--background) !important;
  border: 1px solid var(--border-light) !important;
  border-radius: 10px !important;
  color: var(--primary-black) !important;
  font-family: "Inter", sans-serif !important;
  font-size: 12px !important;
}

.percentage {
  font-family: "Rubik", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .metricsDiv,
  .monthWise,
  .productsTable,
  .revenueWrapper,
  .container {
    width: 90%;
    justify-content: center;
    gap: 28px;
  }
  .locationMapWrapper {
    width: 90%;

    gap: 28px;
  }
}

@media (max-width: 400px) {
  .metricEle {
    width: 90%;
  }
}
