.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 2px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.sectionTitle {
  font-size: var(--font-small);
  font-weight: 600;
}

.contactItem:hover {
  background: var(--light);
}

.contactName {
  font-size: var(--font-small);
  color: var(--primary-black);
}
