.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 2px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.sectionTitle {
  font-size: var(--font-small);
  font-weight: 600;
}

.contactItem:hover {
  background: var(--light);
}

.contactName {
  font-size: var(--font-regular);
  color: var(--primary-black);
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--border-black);
}

.timelineItem {
  display: flex;
  gap: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.timelineIcon {
  position: relative;
  z-index: 1;
  background: var(--color1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.timelineContent {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.timelineMessage {
  color: var(--primary-black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.timelineTime {
  font-size: var(--font-small);
  color: var(--text-light);
  margin-top: 2px;
}
