.profile {
  display: flex;
  justify-content: flex-start;
  column-gap: 4px;
  align-items: center;
  min-width: fit-content;
  flex-wrap: nowrap;
}

.tableActions {
  border-radius: 8px;
  background: var(--hover-bg);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.tableContainer {
  overflow: auto;
  min-width: 800px;
  scrollbar-width: thin;
}

button:disabled {
  cursor: "not-allowed";
  opacity: 0.5;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-black);
  border-radius: 5px;
  height: 28px;
}

.search input {
  outline: none;
  border: none;
  margin-bottom: 10px;
  height: 90%;
  background: inherit;
}

.search svg path {
  color: var(--border-black);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 1rem;
}

.pageButton,
.navButton {
  background: white;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.pageButton:hover,
.navButton:hover {
  background: #f0f0f0;
}

.pageButton.active {
  background: var(--border-black);
}

.navButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
